EVE_METRO_API_URL=
EVE_METRO_API_KEY=
EVE_METRO_CHARACTER_ID=
EVE_METRO_CORPORATION_ID=
EVE_METRO_ALLIANCE_ID=
EVE_SCOUT_PUBLIC_SIGNATURE_URL=
TRIPWIRE_HOST=
TRIPWIRE_USER=
TRIPWIRE_PASSWORD=
TRIPWIRE_MASK=
EVE_SSO_CLIENT_ID=
EVE_SSO_SECRET_KEY=
EVE_SSO_CALLBACK_URL=